<!-- Program Grid Section -->
<section id="program">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Program</h2>
        <h3 class="section-subheading text-muted"></h3>
    </div>
    
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Time</th>
                <th>Event</th>
                <th>Speaker</th>
            </tr>
            </thead>
            <tbody>
            <!-- Day 1: October 15, 2024 -->
            <tr>
                <th colspan="3">May XX, 2025</th>
            </tr>
            <tr>
                <td>08:45  - 09:00 </td>
                <td>Welcome</td>
                <td>-</td>
            </tr>
            <tr>
                <td>09:00  - 09:30 </td>
                <td>Talk: The adaptive and versatile function of the human foot</td>
                <td class="speaker">Luke Kelly</td>
            </tr>
            <tr>
                <td>09:30  - 10:00 </td>
                <td>Talk: Windlass mechanism function in humans and chimpanzees and the evolution of the bipedal push-off</td>
                <td class="speaker">Nicholas B. Holowka</td>
            </tr>
            <tr>
                <td>10:00  - 10:30 </td>
                <td>Talk: Multi-scale modeling of ankle joint neuro-mechanics based on discharge timing of spinal motor neurons: towards generalizable neural control of wearable robots.</td>
                <td class="speaker">Massimo Sartori</td>
            </tr>
            <tr>
                <td>10:30 - 11:00 </td>
                <td>Coffee Break</td>
                <td>-</td>
            </tr>
            <tr>
                <td>11:00 - 11:30 </td>
                <td>Talk: Robot locomotion with compliant feet</td>
                <td class="speaker">Gentiane Venture</td>
            </tr>
            <tr>
                <td>11:30 - 12:00</td>
                <td>Talk: Increasing the functionality of robotic feet.</td>
                <td class="speaker">Alexandre Badri-Sprowitz</td>
            </tr>
            <tr>
                <td>12:00 - 12:30</td>
                <td>Talk: Comparing bioinspired and robotic running algorithms for flat foot and toe contact.</td>
                <td class="speaker">Christian Ott</td>
            </tr>
            <tr>
                <td>12:30 - 13:00</td>
                <td> Poster Pitch</td>
                <td class="speaker">Accepted Authors</td>
            </tr>
            <tr>
                <td>13:00 - 14:00</td>
                <td>Lunch Break</td>
                <td>-</td>
            </tr>
            <tr>
                <td>14:00 - 15:00</td>
                <td> Poster Session</td>
                <td class="speaker">Accepted Authors</td>
            </tr>
            <tr>
                <td>15:00 - 15:30 </td>
                <td>Talk: The metabolic and biomechanical effects of using passive-elastic and powered leg prostheses during walking</td>
                <td class="speaker">Alena M. Grabowski</td>
            </tr>
            <tr>
                <td>15:30 - 16:00 </td>
                <td>Coffee Break</td>
                <td>-</td>
            </tr>
            <tr>
                <td>16:00 - 16:30 </td>
                <td>Talk: The Open-Source Leg project</td>
                <td class="speaker">Elliot Rouse</td>
            </tr>
            <tr>
                <td>16:30 - 17:00 </td>
                <td>Keynot: Enabling natural walking with soft robotics technologies</td>
                <td class="speaker">Manuel G. Catalano</td>
            </tr>
            <tr>
                <td>17:00 - 17:30 </td>
                <td>Panel Discussion</td>
                <td class="speaker">Speakers</td>
            </tr>
            <tr>
                <td>17:30 - 17:45 </td>
                <td>Best Poster Award</td>
                <td>-</td>
            </tr>
            <tr>
                <td>17:45 - 18:00 </td>
                <td>Final Remarks</td>
                <td class="speaker"> Organizers and Speakers</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>20:00 - 22:00 </td>
                <td>Social Dinner</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>    
</section>
