<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Workshop <br></div>
                <div class="intro-lead-in">The human foot and its role in walking: <br>
                    inspiration and new perspectives for Robotics and Prosthetics<br></div>
                <div class="intro-lead-in"> <span style="color:#0073b3"><i class="fa fa-calendar"></i> </span>May 2025 </div>
                <div class="intro-lead-in"> <span style="color: #0073b3"><i class="fa fa-map-marker"></i></span>
                     ICRA 2025 @ Georgia World Congress Center, Atlanta, Georgia</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/agenda.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/organizers.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/js.html %}

    </body>
</html>